.header{
    background-color: #22344F;
    height: 45px;
    padding: 10px;

}



.right-float{
    float:right;
}


.header-link{
    display:inline;
    color: white;
    text-align: center;
    margin: 15px;
    padding: 5px;
}

.log-in{
    border-radius: 3px;
    background-color: #B6D5E6;
    color: #227FB4;
    margin: 10px;
    padding: 5px;
}

.sign-in{
    border-radius: 3px;
    background-color: #227FB4;
    color: #B6D5E6;
    margin: 10px;
    padding: 5px;
}

.sign-in:hover{
    color: #22344F;
    text-decoration: none;
}

.log-in:hover{
    color: white;
    text-decoration: none;
}

.header-link:hover{
    color: #B6D5E6;
    text-decoration: none;
}