.footer{
    background-color: #ECF4F8;
}
.column-container {
    display: grid;
    margin: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    padding: 10px;
}
.column-container div{
    margin:0 15px;
}
.column-container  li{
    list-style-type:none;
}

.my-nav-item {
    margin-bottom: 1px;
    font-size: 12px;
}

.my-nav-item-header{
    font-size:16px ;
    padding-bottom: 10px;
}


